/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 10 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 10 version
*/
.preloader {
	/*фиксированное позиционирование*/
	position: fixed;
	/* координаты положения */
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	/* фоновый цвет элемента */
	background: #e0e0e0;
	background: #212122;
	/* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
	z-index: 9999999;
}

.preloader__row {
	position: relative;
	top: 50%;
	left: 50%;
	width: 70px;
	height: 70px;
	margin-top: -35px;
	margin-left: -35px;
	text-align: center;
	animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
	position: absolute;
	display: inline-block;
	top: 0;
	background-color: #337ab7;
	background-color: #fac706;
	border-radius: 100%;
	width: 35px;
	height: 35px;
	animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
	top: auto;
	bottom: 0;
	animation-delay: -1s;
}

@keyframes preloader-rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes preloader-bounce {
	0%,
	100% {
		transform: scale(0);
	}

	50% {
		transform: scale(1);
	}
}

.loaded_hiding .preloader {
	transition: 0.3s opacity;
	opacity: 0;
}

.loaded .preloader {
	display: none;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	position: relative;
	overflow: hidden;
	/*
	background: -o-linear-gradient(top, rgba(37, 37, 44, 1) 0%, #0C0C0E 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(37, 37, 44, 1)), to(#0C0C0E));
	background: linear-gradient(180deg, rgba(37, 37, 44, 1) 0%, #0C0C0E 100%);
*/
	background-color: #212125;
	background-color: #1a1a1d;
	min-height: 100vh;
	position: relative;
	/*
	scrollbar-width: thin;
	scrollbar-color: #d4aa70 #e4e4e4;
	position: relative;
	overflow:hidden;
*/
}

body.loaded,
body.loaded_hiding {
	overflow-y: auto;
}

body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-track {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(37, 37, 44, 1)), to(#0c0c0e));
	background: linear-gradient(180deg, rgba(37, 37, 44, 1) 0%, #0c0c0e 100%);
}

body::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
	box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d0368a), color-stop(99%, #708ad4));
	background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
	border-radius: 20px;
}

.headerMenu {
	display: flex;
	margin: 0 auto;
	width: 100%;
	padding-top: 17px;
	padding-bottom: 17px;
	border-bottom: 1px solid #ffffff38;
}

.headerMenuContent {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logotype {
	width: 60px;
	height: 60px;
	width: auto;
}

.logotype img {
	width: 100%;
}

.navigatoin {
	display: flex;
	min-width: 460px;
	justify-content: space-between;
}

.navigatoin a {
	margin: 1%;
	margin: 0 auto;
	opacity: 0.7;
	transition: 0.2s linear;
}

.navigatoin a:hover {
	opacity: 1;
}

.is_overlay {
	display: block;
	width: 100%;
	height: 100vh;
	position: absolute;
	display: flex;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	/*    height: 78vh; */
	position: relative;
	align-items: stretch;
}

#trailer {
}

#trailer > video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
}

@media (min-aspect-ratio: 16/9) {
	#trailer > video {
		height: 300%;
		top: -100%;
	}
}

@media (max-aspect-ratio: 16/9) {
	#trailer > video {
		width: 300%;
		left: -100%;
	}
}

/* Если есть поддержка object-fit (Chrome/Chrome для Android, Safari в iOS 8 и Opera), используем его: */
@supports (object-fit: cover) {
	#trailer > video {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.news__swiper {
	overflow: hidden;
}

.container {
	width: 1400px;
	width: 90%;
	margin: 0 auto;
}

section {
	margin: 200px 0;
	overflow: hidden;
}

.statistic,
.application {
	margin: 100px 0;
	margin: 0;
}

@-webkit-keyframes gradient {
	0% {
		background: radial-gradient(circle at center, #fac704 99%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
	}

	25% {
		background: radial-gradient(
			circle at center,
			rgba(250, 199, 4, 0.8) 74%,
			rgba(0, 0, 0, 0) 75%,
			rgba(0, 0, 0, 0) 100%
		);
	}

	50% {
		background: radial-gradient(
			circle at center,
			rgba(250, 199, 4, 0.5) 49%,
			rgba(0, 0, 0, 0) 50%,
			rgba(0, 0, 0, 0) 100%
		);
	}

	75% {
		background: radial-gradient(
			circle at center,
			rgba(250, 199, 4, 0.3) 24%,
			rgba(0, 0, 0, 0) 25%,
			rgba(0, 0, 0, 0) 100%
		);
	}

	100% {
		color: #f8f8f8;
		background: radial-gradient(circle at center, rgba(250, 199, 4, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
	}
}

@keyframes gradient {
	0% {
		background: -o-radial-gradient(center, circle, #fac704 99%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
		background: radial-gradient(circle at center, #fac704 99%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
	}

	25% {
		background: -o-radial-gradient(
			center,
			circle,
			rgba(250, 199, 4, 0.8) 74%,
			rgba(0, 0, 0, 0) 75%,
			rgba(0, 0, 0, 0) 100%
		);
		background: radial-gradient(
			circle at center,
			rgba(250, 199, 4, 0.8) 74%,
			rgba(0, 0, 0, 0) 75%,
			rgba(0, 0, 0, 0) 100%
		);
	}

	50% {
		background: -o-radial-gradient(
			center,
			circle,
			rgba(250, 199, 4, 0.5) 49%,
			rgba(0, 0, 0, 0) 50%,
			rgba(0, 0, 0, 0) 100%
		);
		background: radial-gradient(
			circle at center,
			rgba(250, 199, 4, 0.5) 49%,
			rgba(0, 0, 0, 0) 50%,
			rgba(0, 0, 0, 0) 100%
		);
	}

	75% {
		background: -o-radial-gradient(
			center,
			circle,
			rgba(250, 199, 4, 0.3) 24%,
			rgba(0, 0, 0, 0) 25%,
			rgba(0, 0, 0, 0) 100%
		);
		background: radial-gradient(
			circle at center,
			rgba(250, 199, 4, 0.3) 24%,
			rgba(0, 0, 0, 0) 25%,
			rgba(0, 0, 0, 0) 100%
		);
	}

	100% {
		color: #f8f8f8;
		background: -o-radial-gradient(center, circle, rgba(250, 199, 4, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
		background: radial-gradient(circle at center, rgba(250, 199, 4, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
	}
}

.df-jcsb-aic {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.header__buttons .button {
	margin-right: 20px;
}

.page__header {
	padding: 20px 75px 0;
}

.button {
	cursor: pointer;
	border-radius: 4px;
	background: #fac704;
	color: #1a1a1c;
	font-size: 20px;
	line-height: 23px;
	font-weight: 500;
	padding: 7.5px 25px;
	-webkit-transition: 0.1s linear;
	-o-transition: 0.1s linear;
	transition: 0.1s linear;
	border: 1px solid rgba(0, 0, 0, 0);
}

.button_white {
	border: 1px solid #f8f8f8;
	color: #f8f8f8;
	background: none;
}

.button img {
	margin-right: 5px;
}

.page__language {
	position: relative;
}

.button:hover {
	-webkit-box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.4);
	box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.4);
}

.button:active {
	-webkit-box-shadow: 0px 0px 7px 1px rgba(255, 255, 255, 0);
	box-shadow: 0px 0px 7px 1px rgba(255, 255, 255, 0);
}

.button_yellow:active {
	-webkit-animation: gradient 100ms;
	animation: gradient 100ms;
	background: rgba(0, 0, 0, 0);
	color: #f8f8f8;
	border: 1px solid #f8f8f8;
}

.page__language ul {
	position: absolute;
	top: 120%;
	left: -30%;
	display: none;
	background: rgba(255, 255, 255, 0.05);
}

.page__language ul li {
	padding: 5px 15px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	cursor: pointer;
	-webkit-transition: 0.1s linear;
	-o-transition: 0.1s linear;
	transition: 0.1s linear;
}

.page__language ul li:hover {
	color: #fac704;
}

.page__language ul li:nth-last-child(1) {
	border-bottom: 0px solid white;
}

.page__language.active ul {
	display: block;
}

.current__language {
	cursor: pointer;
}

.main {
	text-align: center;
	/* margin-top: 11vh; */
	position: relative;
	z-index: 2;
}

.main__description {
	width: 700px;
	/*	margin: 0 auto;*/
	font-weight: 500;
	font-size: 25px;
	line-height: 35px;
	text-align: left;
	float: left;
	margin-bottom: 6vh;
	padding-top: 2vh;
	opacity: 0.6;
}

.main__buttons {
	/*	max-width: 600px;
	max-width: 555px;
	margin: 0 auto;*/
	display: flex;
	justify-content: revert;
}

.main__description {
	/*	margin: 20px auto 50px;*/
}

.main__logo {
	width: 256px;
	margin: 100px auto 70px;
}

.main__logo img {
	width: 100%;
	height: 100%;
}

.title {
	font-weight: 900;
	font-size: 80px;
	line-height: 90px;
	text-align: center;
	text-align: left;
}

.button_yellow-transparent {
	padding: 20px 40px;
	color: #fac704;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	background: rgba(250, 199, 4, 0.05);
	border: 2px solid #fac704;
	-webkit-box-sizing: border-box;
	border-radius: 12px;
	/*
	box-sizing: border-box;
	-webkit-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
	box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
*/
}

.button_yellow-transparent img {
	margin-left: 10px;
}

.apple__icon {
	margin-top: -5px;
}

.partners__slide {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 100px;
}

.swiper-slides {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.slide-1 img {
	width: 160px;
	opacity: 0.5;
}

.slide-2 img {
	width: 87px;
}

.slide-3 img {
	width: 157px;
}

.slide-4 img {
	width: 68px;
}

.slide-5 img {
	width: 191px;
	opacity: 0.5;
}

.slide-6 img {
	width: 190px;
	opacity: 0.5;
}

.slide-7 img {
	width: 109px;
	opacity: 0.5;
}

.news__swiper .swiper-slide img {
	width: 100%;
	height: 250px;
	-o-object-fit: cover;
	object-fit: cover;
}

.news__container {
	top: -9vh;
	position: relative;
	padding: 0 150px;
	z-index: 2;
}

.news__container {
	position: relative;
}

.news__arrow {
	position: absolute;
	padding: 90px 40px;
	top: calc(50% - 90px);
	border: 0 solid #000;
	background: -o-linear-gradient(right, rgba(196, 196, 196, 0) 0%, rgba(191, 191, 191, 0.1) 117.5%);
	background: -webkit-gradient(
		linear,
		right top,
		left top,
		from(rgba(196, 196, 196, 0)),
		color-stop(117.5%, rgba(191, 191, 191, 0.1))
	);
	background: linear-gradient(270deg, rgba(196, 196, 196, 0) 0%, rgba(191, 191, 191, 0.1) 117.5%);
	-webkit-backdrop-filter: blur(80px);
	backdrop-filter: blur(80px);
	border-radius: 2px;
	-webkit-transition: 0.1s linear;
	-o-transition: 0.1s linear;
	transition: 0.1s linear;
	-webkit-box-shadow: 0px 0px 0px 0px #f8f8f8;
	box-shadow: 0px 0px 0px 0px #f8f8f8;
}

.news__arrow:after {
	content: '';
	position: absolute;
	top: calc(50% - 17px);
	left: calc(50% - 10px);
	background: url(../img/icons/arrow.svg);
	width: 21px;
	height: 34px;
}

.news__arrow.news__arrow_right:after {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.news__arrow.news__arrow_right {
	background: -o-linear-gradient(right, rgba(191, 191, 191, 0.1) 0%, rgba(196, 196, 196, 0) 117.5%);
	background: -webkit-gradient(
		linear,
		right top,
		left top,
		from(rgba(191, 191, 191, 0.1)),
		color-stop(117.5%, rgba(196, 196, 196, 0))
	);
	background: linear-gradient(270deg, rgba(191, 191, 191, 0.1) 0%, rgba(196, 196, 196, 0) 117.5%);
	right: 25px;
}

.news__arrow.news__arrow_left {
	left: 25px;
}

.news__arrow:hover {
	-webkit-box-shadow: 0px 0px 5px 0.2px #f8f8f8;
	box-shadow: 0px 0px 5px 0.2px #f8f8f8;
}

.news__arrow:active {
	-webkit-box-shadow: 0px 0px 0px 0px #f8f8f8;
	box-shadow: 0px 0px 0px 0px #f8f8f8;
}

.news__title {
	text-align: center;
	margin: 15px 0 10px;
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
}

.online {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	padding: 5px 14px;
	background-color: #f13939;
	border-radius: 21px;
	margin-right: 10px;
}

.card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.benefits .container {
	-webkit-box-align: flex-start;
	-ms-flex-align: flex-start;
	align-items: flex-start;
}

.benefits__header-title {
	text-align: center;
	margin: 80px 0 50px;
}

.benefits__card {
	max-width: 24%;
}

.benefits__title {
	font-weight: bold;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	margin: 0 0 20px;
}

.benefits__description {
	font-size: 18px;
	line-height: 21px;
	text-align: center;
}

.games {
	padding-top: 20px;
}

.games-img-phone {
	display: none;
}

.games__image {
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.games__image a {
	padding: 12px;
	border: 2px solid;
	border-radius: 6px;
	width: auto;
	margin: 0 auto;
	display: flex;
	position: absolute;
	bottom: 7vh;
	left: 0;
	right: 0;
	text-align: center;
	justify-content: center;
	max-width: 200px;
	transition: 0.49s;
}

.games__image a:hover {
	background-color: #fac706;
	color: #1f1f25;
	transition: 0.49s;
	border: 2px solid #fac706;
}

.games__card {
	cursor: pointer;
	overflow: hidden;
}

.games__card.active .games__title {
	color: #fac704;
}

.games__card.active ~ .games__card {
	z-index: 3;
}

.games__card img {
	transition: 0.2s linear;
}

.games__card.active img {
	position: relative;
	opacity: 0.8;
}

.games__card:nth-child(1) {
	position: relative;
	right: -2.5%;
}

.games__card:nth-child(2) {
	position: relative;
	left: -2.5%;
}

.games__card .games__image img {
	border-radius: 20px;
}

.games__title {
	margin-top: 40px;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
	-webkit-transition: 0.2s linear;
	-o-transition: 0.2s linear;
	transition: 0.2s linear;
}

.games__card.active .games__download {
	opacity: 1;
}

.instructions__cards {
	position: relative;
}

.instructions__cards:after {
	content: '';
	position: absolute;
	width: 90%;
	bottom: 36%;
	left: 5%;
	height: 5px;
	background: -o-linear-gradient(left, #fac704 -1.63%, #ff7a00 101.63%);
	background: -webkit-gradient(linear, left top, right top, color-stop(-1.63%, #fac704), color-stop(101.63%, #ff7a00));
	background: linear-gradient(90deg, #fac704 -1.63%, #ff7a00 101.63%);
	z-index: -1;
}

.instructions__card {
	margin: 0;
	height: 270px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: start;
}

.games__download {
	position: absolute;
	bottom: 40px;
	left: 0;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #fac704;
	width: 100%;
	opacity: 0;
	-webkit-transition: 0.2s linear;
	-o-transition: 0.2s linear;
	transition: 0.2s linear;
}

.instructions__title {
	font-weight: 900;
	font-size: 48px;
	line-height: 56px;
	text-align: center;
	margin-bottom: 100px;
}

.instructions__image {
	max-width: 106px;
}

.instructions__number {
	cursor: pointer;
	margin: 30px 0 14px;
	font-weight: 500;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	color: #8a0074;
	min-width: 70px;
	min-height: 70px;
	background: url(../img/instructions/back.png) no-repeat center center / contain;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
}

.instructions__number:after {
	content: '';
	position: absolute;
	height: 115px;
	width: 190px;
	left: -100%;
	bottom: 70%;
	background: url(../img/instructions/light.svg);
	-webkit-transition: 0.2s linear;
	-o-transition: 0.2s linear;
	transition: 0.2s linear;
	opacity: 0;
}

.instructions__number:hover:after {
	content: '';
	opacity: 1;
}

.instructions__card-text {
	width: 210px;
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
}

.promotions__card {
	position: relative;
	margin-top: 80px;
	background: -o-linear-gradient(187.64deg, #7d70d1 0%, #134b48 100%);
	background: linear-gradient(262.36deg, #7d70d1 0%, #134b48 100%);
	border-radius: 25px;
	width: 100%;
	padding: 80px 120px 120px;
}

.promotions__card:after {
	content: '';
	position: absolute;
	height: 100%;
	bottom: -25%;
	right: 0;
	background: url(../img/backgrounds/promo-image-2.png) no-repeat center right / contain;
	width: 50%;
	height: 150%;
}

.promotions__card-descriptions {
	margin: 25px 0 40px;
	max-width: 600px;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
}

.promotions__card-title {
	font-weight: 500;
	font-size: 28px;
	line-height: 33px;
}

.promotions__button {
	background: rgba(248, 248, 248, 0.1);
	font-weight: bold;
	font-size: 22px;
	line-height: 26px;
	padding: 17px 50px;
}

.players__description {
	margin: 40px auto;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	width: 650px;
}

.players__swiper-small .swiper-slide img {
	overflow: hidden;
	border: 4px solid transparent;
	border-radius: 53px;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	width: 60px;
	height: 60px;
}

.players__slider-small-title {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	margin-top: 15px;
}

.players__swiper-small .swiper-slide {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.players__swiper-small .swiper-slide.swiper-slide-active img {
	border: 4px solid #fac704;
}

.players__swiper-small {
	max-width: 900px;
	overflow: hidden;
	margin: 0 auto;
}

.players .container {
	position: relative;
}

.players__arrow {
	position: absolute;
	padding: 50px 40px;
	top: calc(100% - 80px);
	border: 0 solid #000;
	background: -o-linear-gradient(right, rgba(196, 196, 196, 0) 0%, rgba(191, 191, 191, 0.1) 117.5%);
	background: -webkit-gradient(
		linear,
		right top,
		left top,
		from(rgba(196, 196, 196, 0)),
		color-stop(117.5%, rgba(191, 191, 191, 0.1))
	);
	background: linear-gradient(270deg, rgba(196, 196, 196, 0) 0%, rgba(191, 191, 191, 0.1) 117.5%);
	-webkit-backdrop-filter: blur(80px);
	backdrop-filter: blur(80px);
	border-radius: 2px;
	-webkit-transition: 0.1s linear;
	-o-transition: 0.1s linear;
	transition: 0.1s linear;
	-webkit-box-shadow: 0px 0px 0px 0px #f8f8f8;
	box-shadow: 0px 0px 0px 0px #f8f8f8;
}

.players__arrow:after {
	content: '';
	position: absolute;
	bottom: calc(50% - 17px);
	background: url(../img/icons/arrow.svg);
	width: 21px;
	height: 34px;
}

.players__arrow.players__arrow_right:after {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.players__arrow.players__arrow_right {
	background: -o-linear-gradient(right, rgba(191, 191, 191, 0.1) 0%, rgba(196, 196, 196, 0) 117.5%);
	background: -webkit-gradient(
		linear,
		right top,
		left top,
		from(rgba(191, 191, 191, 0.1)),
		color-stop(117.5%, rgba(196, 196, 196, 0))
	);
	background: linear-gradient(270deg, rgba(191, 191, 191, 0.1) 0%, rgba(196, 196, 196, 0) 117.5%);
	right: 50px;
}

.players__arrow.players__arrow_left {
	left: 50px;
}

.players__arrow:hover {
	-webkit-box-shadow: 0px 0px 5px 0.2px #f8f8f8;
	box-shadow: 0px 0px 5px 0.2px #f8f8f8;
}

.players__swiper {
	overflow: hidden;
}

.players__arrow:active {
	-webkit-box-shadow: 0px 0px 0px 0px #f8f8f8;
	box-shadow: 0px 0px 0px 0px #f8f8f8;
}

.players__swiper .swiper-slide-next .slider__wrapper,
.players__swiper .swiper-slide-prev .slider__wrapper {
	-webkit-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
}

.slider__wrapper {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-webkit-transition: 0.2s linear;
	-o-transition: 0.2s linear;
	transition: 0.2s linear;
}

.players__swiper .slider__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: 20px;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	background: #23252c;
	margin-top: 200px;
	border-radius: 18px;
	max-width: 700px;
	height: 400px;
	position: relative;
	padding: 40px;
}

.swiper-slide img {
	-webkit-transition: 0.2s linear;
	-o-transition: 0.2s linear;
	transition: 0.2s linear;
}

.players__swiper .swiper-slide-next img,
.players__swiper .swiper-slide-prev img {
	position: relative;
	height: 400px;
	-o-object-fit: contain;
	object-fit: contain;
	left: -5%;
	bottom: 40px;
}

.players__swiper .swiper-slide-active img {
	position: relative;
	height: 450px;
	-o-object-fit: contain;
	object-fit: contain;
	left: -6%;
	bottom: 90px;
}

.players__info {
	width: 100%;
}

.players__info-nickname {
	font-weight: 900;
	font-size: 34px;
	line-height: 40px;
}

.players__info-name {
	font-weight: 500;
	font-size: 22px;
	line-height: 26px;
	color: #606060;
}

.players__info-team {
	font-weight: 500;
	font-size: 22px;
	line-height: 26px;
	margin: 10px 0 30px;
}

.players__info-description {
	font-size: 18px;
	line-height: 21px;
	color: #bfbfbf;
}

.banner {
	background: #23252c;
	padding: 40px;
	margin: 0;
}

.banner .container {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: 30px;
	line-height: 35px;
	text-align: center;
}

.banner .container p {
	margin-right: 150px;
}

.through {
	position: relative;
}

.through:after {
	content: '';
	width: 100%;
	height: 2px;
	background-color: #ffffff;
	bottom: 35%;
	left: 0;
	position: absolute;
}

.stars {
	position: relative;
	padding-top: 400px;
	margin: 0;
}

.stars:after {
	position: absolute;
	content: '';
	background: -o-linear-gradient(top, rgba(20, 20, 24, 0.8) 0%, rgba(20, 20, 24, 0.9) 50%, #141418 100%),
		url(../img/backgrounds/land-info-back.jpg) no-repeat top left / 100%;
	background: -webkit-gradient(
			linear,
			left top,
			left bottom,
			from(rgba(20, 20, 24, 0.8)),
			color-stop(50%, rgba(20, 20, 24, 0.9)),
			to(#141418)
		),
		url(../img/backgrounds/land-info-back.jpg) no-repeat top left / 100%;
	background: linear-gradient(180deg, rgba(20, 20, 24, 0.8) 0%, rgba(20, 20, 24, 0.9) 50%, #141418 100%),
		url(../img/backgrounds/land-info-back.jpg) no-repeat top left / 100%;
	top: 0;
	left: 0;
	width: 100%;
	height: 950px;
	z-index: -1;
}

.stars__banner {
	background: rgba(248, 248, 248, 0.05);
	-webkit-backdrop-filter: blur(40px);
	backdrop-filter: blur(40px);
	padding: 50px 100px;
	border: 2px solid #fac704;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 39px;
}

.stars__banner-title {
	font-size: 64px;
	line-height: 75px;
	text-align: center;
	color: #fac704;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.stars__banner-description {
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	color: #787878;
}

.stars__title {
	margin-top: 250px;
}

.stars__description {
	margin: 20px 0 60px;
	text-align: center;
}

.stars__card,
.stars__team,
.stars__info,
.stars__achievments {
	width: 100%;
}

.stars__card {
	margin-bottom: 20px;
	background: rgba(248, 248, 248, 0.05);
	max-height: 80px;
	padding: 20px 30px 20px 0;
}

.stars__team {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.stars__achievments {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.stars__achievments img {
	height: 40px;
	-o-object-fit: contain;
	object-fit: contain;
	margin-left: 15px;
}

.stars__team .stars__team-logo {
	max-height: 80px;
	min-width: 108px;
	-o-object-fit: contain;
	object-fit: contain;
	margin-right: 45px;
}

.stars__team .stars__team-name {
	font-weight: 500;
	font-size: 22px;
	line-height: 26px;
}

.stars__info-title {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #606060;
}

.stars__info-text {
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
}

.application {
	overflow: hidden;
}

.statistic__wrapper,
.application__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.statistic__wrapper .button_yellow {
	margin-right: 0;
}

.statistic__info {
	text-align: right;
	margin-left: 100px;
	padding-bottom: 20px;
}

.statistic__info,
.application__info {
	min-width: 700px;
	overflow: hidden;
}

.application__info {
	text-align: left;
	margin-right: 100px;
}

.statistic__title,
.application__title {
	font-weight: 900;
	font-size: 48px;
	line-height: 56px;
}

.statistic__description,
.application__description {
	margin: 40px 0 40px;
	font-size: 18px;
	color: #bfbfbf;
}

.application__image {
	margin-right: -800px;
}

.application__platforms {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 60px;
}

.platform__card {
	margin-right: 100px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.platform__card img {
	min-width: 40px;
	min-height: 40px;
	max-width: 40px;
	max-height: 40px;
}

.footer {
	background: #19191d;
	-webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	padding: 90px 0 10px 0;
	position: relative;
	overflow: hidden;
}

.footer .container a {
	z-index: 1;
}

.footer__logo {
	width: 160px;
	-o-object-fit: contain;
	object-fit: contain;
	z-index: 1;
}

.footer__menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 60%;
}

.menu__title {
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
	margin-bottom: 60px;
}

.menu__links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.menu__link {
	margin-bottom: 30px;
	font-size: 16px;
	line-height: 19px;
	-webkit-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

.menu__link:hover {
	color: #fac704;
}

.menu-link:nth-last-child(1) {
	margin-bottom: 0;
}

.icon__path {
	-o-object-fit: contain;
	object-fit: contain;
	-webkit-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

.footer__social-link:hover .icon__path {
	fill: #fac704;
}

.footer__social-link svg {
	max-width: 30px;
	max-height: 30px;
	width: 100%;
	height: 100%;
}

.facebook.icon__path {
	width: 13px !important;
}

.footer__buttons .button img {
	margin-left: 10px;
	margin-right: 0;
}

.footer__buttons .button {
	margin: 30px 0;
	padding: 20px 35px;
}

.footer__bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 60px;
}

.footer__bottom a {
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	color: #606060;
}

.footer__bottom a:nth-child(2) {
	margin-left: 100px;
}

.footer__bottom a:nth-child(3) {
	margin-left: auto;
}

.footer__back {
	position: absolute;
	left: -150px;
	top: -170px;
	opacity: 0.3;
	z-index: 0;
}

.footer__back path {
	fill: #606060;
}

@media screen and (max-width: 1400px) {
	.container {
		width: 1200px;
		margin: 0 auto;
	}

	.games__card {
		width: 100%;
	}

	.players__swiper .swiper-slide-next img,
	.players__swiper .swiper-slide-prev img {
		position: relative;
		height: 300px;
		-o-object-fit: contain;
		object-fit: contain;
		left: -10%;
		bottom: -60px;
	}

	.players__swiper .swiper-slide-active img {
		position: relative;
		height: 350px;
		-o-object-fit: contain;
		object-fit: contain;
		left: -10%;
		bottom: -30px;
	}

	.stars:after {
		position: absolute;
		content: '';
		background: -o-linear-gradient(top, rgba(21, 21, 24, 0.8) 0%, rgba(21, 21, 24, 0.9) 50%, #151518 100%),
			url(../img/backgrounds/land-info-back.jpg) no-repeat top left / 100%;
		background: -webkit-gradient(
				linear,
				left top,
				left bottom,
				from(rgba(21, 21, 24, 0.8)),
				color-stop(50%, rgba(21, 21, 24, 0.9)),
				to(#151518)
			),
			url(../img/backgrounds/land-info-back.jpg) no-repeat top left / 100%;
		background: linear-gradient(180deg, rgba(21, 21, 24, 0.8) 0%, rgba(21, 21, 24, 0.9) 50%, #151518 100%),
			url(../img/backgrounds/land-info-back.jpg) no-repeat top left / 100%;
		top: 0;
		left: 0;
		width: 100%;
		height: 750px;
		z-index: -1;
	}
}

@media screen and (max-width: 1270px) {
	.container {
		width: 95%;
		margin: 0 auto;
	}

	.games__card {
		width: 100%;
	}

	.instructions__card-text {
		width: 190px;
	}

	.promotions__card:after {
		right: -50px;
		bottom: -35%;
	}

	.players__arrow_left {
		left: -30px !important;
	}

	.players__arrow_right {
		right: -30px !important;
	}

	.stars__info {
		width: 130%;
	}

	.stars__achievments {
		width: 70%;
	}

	.statistic__info,
	.application__info {
		min-width: 550px;
		max-width: 550px;
	}

	.statistic__info {
		margin-left: 50px;
	}

	.application__info {
		margin-right: 50px;
	}

	.application__image {
		margin-right: -600px;
	}
}

@media screen and (max-width: 800px) {
	.to__top {
		display: none;
	}

	section {
		margin: 100px 0;
	}

	.title {
		font-size: 40px;
	}

	.main__description {
		font-size: 16px;
		margin-top: 0px;
	}

	.main__logo {
		margin: 0 auto 50px;
	}

	header .button_white,
	.main__buttons,
	.application__buttons,
	.footer__buttons .button_white {
		display: none;
	}

	.main__description {
		margin-bottom: 0;
	}

	.benefits__card {
		max-width: 300px;
	}

	.benefits__title {
		margin: 10px;
	}

	.benefits__description {
		font-size: 14px;
	}

	.df-jcsb-aic {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.games .container {
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
	}

	.games__title {
		font-size: 20px;
	}

	.instructions__title {
		margin-bottom: 30px;
		font-size: 36px;
	}

	.instructions__cards:after {
		display: none;
	}

	.instructions__card {
		margin-top: 40px;
	}

	.promotions__card {
		padding: 40px 60px 60px;
	}

	.promotions__card-descriptions {
		font-size: 30px;
	}

	.promotions__card:after {
		display: none;
	}

	.players__swiper .slider__wrapper {
		margin-top: 50px;
	}

	.players__description {
		margin-top: 20px;
		font-size: 14px;
	}

	.banner p {
		margin-right: 0px !important;
		text-align: center;
	}

	.banner .button {
		margin-top: 20px;
	}

	.stars {
		padding-top: 250px;
	}

	.stars__banner-title {
		font-size: 40px;
		line-height: 46px;
		margin-top: 30px;
	}

	.stars__banner-description {
		font-size: 16px;
	}

	.stars__title {
		margin-top: 50px;
	}

	.stars__card {
		max-height: 100%;
	}

	.stars__info {
		max-width: 100%;
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
		margin-top: 30px;
		padding-left: 30px;
	}

	.stars__achievments {
		max-width: 250px;
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
	}

	.stars__team {
		max-width: 400px;
	}

	.application__wrapper,
	.statistic__wrapper {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}

	.application__wrapper > img {
		display: none;
	}

	.statistic__wrapper img {
		display: none;
	}

	.statistic__info {
		text-align: left;
		margin-left: 0;
	}

	.footer .container > .df-jcsb-aic {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.footer__menu {
		margin: 40px 0;
		width: 100%;
	}

	.footer__socials {
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
	}

	.footer__social-link {
		margin-left: 30px;
	}

	.footer__back {
		top: 0;
	}
}

header {
	position: relative;
	z-index: 2;
}

@media screen and (max-width: 500px) {
	header.page__header {
		padding: 10px;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	header a {
		font-size: 16px;
	}

	.button {
		padding: 5px 12px;
		font-size: 16px;
	}

	.main__description {
		width: 100%;
	}

	.title {
		font-size: 30px;
		line-height: 36px;
	}

	.main__description {
		margin-top: 20px;
		font-size: 14px;
	}

	body:after {
		background: -o-radial-gradient(50% 24.92%, 145.91% 78.47%, rgba(34, 34, 40, 0) 0%, #232328 100%),
			-o-linear-gradient(top, rgba(12, 12, 14, 0) 0%, #232328 100%),
			url(../img/backgrounds/land-header-back.jpg) no-repeat top center / 400%;
		background: radial-gradient(145.91% 78.47% at 50% 24.92%, rgba(34, 34, 40, 0) 0%, #232328 100%),
			-webkit-gradient(linear, left top, left bottom, from(rgba(12, 12, 14, 0)), to(#232328)),
			url(../img/backgrounds/land-header-back.jpg) no-repeat top center / 400%;
		background: radial-gradient(145.91% 78.47% at 50% 24.92%, rgba(34, 34, 40, 0) 0%, #232328 100%),
			linear-gradient(180deg, rgba(12, 12, 14, 0) 0%, #232328 100%),
			url(../img/backgrounds/land-header-back.jpg) no-repeat top center / 400%;
	}

	section {
		margin: 50px 0;
	}

	.news {
		margin: 0;
		padding: 10px;
	}

	.news__arrow {
		display: none;
	}

	.df-jcsb-aic {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.games .container {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.games-img-pc {
		display: none;
	}

	.games-img-phone {
		display: block;
	}

	.games__title {
		margin: 0 0 30px;
	}

	.games__card.active .games-img-phone {
		background: -o-linear-gradient(top, rgba(31, 31, 36, 0) 19.27%, #000000 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(19.27%, rgba(31, 31, 36, 0)), to(#000000));
		background: linear-gradient(180deg, rgba(31, 31, 36, 0) 19.27%, #000000 100%);
		border: 5px solid #fac704;
		-webkit-box-shadow: 0px 4px 36px rgba(250, 199, 4, 0.24);
		box-shadow: 0px 4px 36px rgba(250, 199, 4, 0.24);
	}

	.instructions__card {
		margin-top: 20px;
	}

	.instructions__card-text {
		font-size: 16px;
	}

	.instructions__number {
		font-size: 26px;
		min-width: 60px;
		min-height: 60px;
	}

	.instructions__number:after {
		left: -123%;
		bottom: 60%;
	}

	.players .slider__wrapper img {
		position: absolute;
		bottom: auto;
		left: auto;
		top: 20px;
		right: 10px;
		height: 120px;
		width: 120px;
		border-radius: 100%;
		border: 3px solid #fac704;
	}

	.players__description {
		width: 95%;
	}

	.players .slider__wrapper {
		margin-left: 0;
	}

	.players__info-name {
		width: 150px;
	}

	.stars__banner-card {
		width: 100%;
	}

	.stars:after {
		background: -o-linear-gradient(top, rgba(21, 21, 24, 0.8) 0%, rgba(21, 21, 24, 0.9) 50%, #151518 100%),
			url(../img/backgrounds/land-info-back.jpg) no-repeat top center / 200%;
		background: -webkit-gradient(
				linear,
				left top,
				left bottom,
				from(rgba(21, 21, 24, 0.8)),
				color-stop(50%, rgba(21, 21, 24, 0.9)),
				to(#151518)
			),
			url(../img/backgrounds/land-info-back.jpg) no-repeat top center / 200%;
		background: linear-gradient(180deg, rgba(21, 21, 24, 0.8) 0%, rgba(21, 21, 24, 0.9) 50%, #151518 100%),
			url(../img/backgrounds/land-info-back.jpg) no-repeat top center / 200%;
	}

	.stars {
		padding-top: 100px;
	}

	.stars__team .stars__team-logo {
		width: 45%;
		margin-right: 0;
		margin-bottom: 20px;
	}

	.stars__team {
		max-width: 100%;
		width: 100%;
	}

	.stars__card {
		padding: 20px;
	}

	.stars__info {
		padding-left: 0;
		margin: 20px 0;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.stars__info div:nth-child(1n) {
		width: 35%;
	}

	.stars__info div:nth-child(1n + 3) {
		margin-top: 20px;
	}

	.stars__achievments {
		-webkit-box-ordinal-group: 4;
		-ms-flex-order: 3;
		order: 3;
	}

	.statistic__info,
	.application__info {
		min-width: 100%;
	}

	.footer__menu {
		max-width: 90%;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.footer__menu .menu__item {
		margin-top: 20px;
	}

	.footer__menu .menu__item:nth-child(2n + 2) {
		text-align: right;
	}

	.footer__menu .menu__title {
		margin-bottom: 20px;
	}

	.footer__menu .menu__link {
		margin-bottom: 10px;
	}

	.footer__bottom a:nth-child(2) {
		margin-left: 0;
	}

	.footer__bottom a:nth-child(3) {
		margin: 10px auto 0;
	}

	.footer__bottom {
		margin-top: 30px;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
}

.to__top {
	position: fixed;
	bottom: 5%;
	right: 5%;
	width: 0px;
	height: 0px;
	background-color: #000;
	border-radius: 50%;
	-webkit-transition: 0.2s liner;
	-o-transition: 0.2s liner;
	transition: 0.2s liner;
	cursor: pointer;
	z-index: 11;
	-webkit-box-shadow: 0px 0px 10px 2px #000;
	box-shadow: 0px 0px 10px 2px #000;
	-webkit-transition: 0.2s linear;
	-o-transition: 0.2s linear;
	transition: 0.2s linear;
	opacity: 0;
	-webkit-transform: translate(-100%, -100%);
	-ms-transform: translate(-100%, -100%);
	transform: translate(-100%, -100%);
}

.to__top.active {
	width: 50px;
	height: 50px;
	opacity: 1;
	-webkit-transform: translate(0%, 0%);
	-ms-transform: translate(0%, 0%);
	transform: translate(0%, 0%);
}

.to__top svg {
	margin-top: -5px;
	width: 100%;
}

.to__top path {
	fill: #fff;
	-webkit-transition: 0.2s linear;
	-o-transition: 0.2s linear;
	transition: 0.2s linear;
}

.to__top:hover path {
	fill: #fac704;
}

.to__top:active {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.wallopers {
	width: 100%;
	/**/
	height: 100vh;
	background: #000000;
	z-index: 999;
	position: absolute;
	background: rgb(40, 36, 106);
	background: linear-gradient(176deg, rgba(40, 36, 106, 1) 19%, rgba(255, 186, 0, 1) 100%);
	background: linear-gradient(176deg, rgb(77 73 131 / 64%) 19%, rgb(35 35 41) 100%);
}

/*
.wallopers {
    width: 100%;
    height: 100vh;
    background: #000000;
    z-index: 999;
    position: absolute;
}
*/

.users {
	display: flex;
	justify-content: space-between;
	max-width: 460px;
	float: right;
	align-items: center;
}

.main .container {
	display: flex;
	flex-direction: column;
}

.macos {
	float: left;
	display: flex;
	width: auto;
	width: fit-content;
	opacity: 0.6;
	border-bottom: 1px dashed #ffffff;
	margin-top: 2vh;
	font-size: 17px;
}

.scrollImg {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 7vh;
	left: 0;
	right: 0;
	height: 78px;
	opacity: 0.6;
}

.promotions__title {
	text-align: center;
	font-size: 48px;
	margin: 0 auto;
}

.neFooter {
	background: url(../img/backgrounds/footer.png);
	width: 100%;
	background-size: cover;
	position: relative;
	z-index: 2;
}

.neFooter {
	padding-top: 80px;
}

.neFooterContent {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.neFooterContent h1 {
	text-align: center;
	margin: 0 auto;
	font-size: 80px;
	font-weight: 900;
	max-width: 960px;
	margin-bottom: 2vh;
}

.neFooterContent p {
	text-align: center;
	margin: 0 auto;
	font-size: 16px;
	opacity: 0.6;
	margin-bottom: 6vh;
}

.button_yellow {
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	color: #191919;
	padding: 17px;
	border-radius: 6px;
	background-color: #fac706;
	min-width: 260px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	transition: 0.3s;
	max-width: 200px;
}

.button_yellow:hover {
	opacity: 0.6;
}

.footerLink {
	border-top: 1px solid #ffffff22;
	padding-top: 20px;
	padding-bottom: 20px;
	/* bottom: 6vh; */
	display: flex;
	align-items: stretch;
}

.footerLinkContent {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footerLinkContent .documents a:nth-child(2) {
	margin-left: 30px;
}

.footerLinkContent .documents a:nth-child(3) {
	margin-left: 30px;
}


#logotype {
	background-color: inherit;
}

.documents {
	display: flex;
	align-items: center;
}

.documents a {
	background-color: inherit;
	color: #ffffff;
	opacity: 0.6;
	font-size: 17px;
	font-weight: 500;
}

.documents a:hover {
	opacity: 1;
	transition: 0.3s;
}

.logoFooter {
	display: flex;
	align-items: center;
	height: 40px;
}

.logoFooter img {
	width: 100%;
}

.footerAgit {
	margin-bottom: 15vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.footer__links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 200px;
}

.footer__links img {
	width: 30px;
	height: 30px;
}

.footer__links a {
	opacity: 0.6;
	transition: 0.3s linear;
}

.footer__links a:hover {
	opacity: 1;
}

.us {
	width: 100%;
	margin: auto;
	display: flex;
	height: 100vh;
	/*    background: url(../img/backgrounds/9999999.png) top center;*/
	padding-top: 12vh;
	margin: 0;
}

.usContent {
	display: flex;
	width: 90%;
	margin: 0 auto;
	flex-direction: column;
}

.title_news {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 12vh;
}

.title_news h1 {
	font-size: 3.2vw;
}

.title_steps {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
	margin-bottom: 20px;
}

span.ps_logo_us {
	font-size: 2vw;
}

.ps_logo_us img {
	height: 2vw;
}

.usConent_Steps {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin: 0 auto;
	margin-bottom: 12vh;
}

.su_step {
	margin: 0%;
	border: 2px dashed #ffffff;
	border-radius: 0px;
	border-top: none;
	border-right: none;
	padding: 20px;
	border-radius-left: 6px;
	width: 90%;
	margin-right: 3.33333%;
	border-color: #ffffff42;
	padding-left: 2.5%;
	padding-bottom: 2.5%;
}

.su_step span {
	padding-bottom: 17px;
	display: block;
	font-size: 1.5vw;
}

.su_step p {
	font-size: 1.2vw;
	color: #a9a9a9;
}

.ligues {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: start;
	margin-top: 30px;
}

.ligues span {
	display: flex;
	align-items: center;
	align-content: stretch;
	padding: 0;
	margin: 0;
	position: relative;
	top: -2px;
}

.ligues img {
	height: 1.5vw;
	margin-right: 1.5vw;
}

.protected {
	width: 92%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.us_section {
	/*     background: url(../img/backgrounds/9999999.png); */
	background-position: top;
	display: flex;
	flex-direction: column;
	margin: 0;
	margin-bottom: 12vh;
}

.line {
	border-bottom: 1px solid #ffffff2e;
	width: 100%;
}

.protectedContent {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	width: 100%;
}

.su_button {
	padding: 20px 40px;
	color: #fac704;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	margin-top: 30px;
	background: rgba(250, 199, 4, 0.05);
	border: 2px solid #fac704;
	-webkit-box-sizing: border-box;
	border-radius: 12px;
	transition: 0.6s;
	cursor: pointer;
}

.su_button:hover {
	background-color: #fac704;
	color: #1f1f24;
	transition: 0.6s;
}

.green {
	background: rgb(24 232 107 / 9%);
	border: 2px solid #1dcf64;
	color: #1dcf64;
}

.green:hover {
	background-color: #1dcf64;
	color: #1f1f24;
}

.titleLink {
	display: flex;
	align-items: center;
}

.titleLink a:hover {
	opacity: 0.6;
	transition: 0.6s;
}

.protectedPlace {
	width: 30%;
	border-radius: 8px;
	background-color: #2a252ea2;
	background-color: #24262ca2;
	display: flex;
	flex-direction: column;
	margin-bottom: 12vh;
	padding-bottom: 36px;
	align-content: center;
	margin: 0 auto;
	padding: 2.5%;
	justify-content: center;
}

.protectedPlace img {
	width: max-content;
	height: 120px;
	margin: 0 auto;
}

.protectedPlace h1 {
	font-size: 1.5vw;
	padding-bottom: 2vh;
	padding-top: 2vh;
	font-weight: 900;
	text-align: center;
}

.protectedPlace p {
	font-size: 1.2vw;
	text-align: center;
	opacity: 0.5;
}

.backgroundContent {
	background: url(../img/backgrounds/9999999.png);
	background-position: top;
	display: flex;
	flex-direction: column;
}

* {
	box-sizing: border-box;
}

.tabs {
	width: 90%;
	padding: 0px;
	margin: 0 auto;
	position: relative;
	/*  border: 1px solid #DEE8F2; */
	font-size: 1.2vw;
	display: flex;
	flex-direction: column;
}

.tabs_content {
	display: none;
	padding: 15px;
	/*  background: white; */
	position: absolute;
	top: 0;
	left: 36%;
}

p {
	margin: 0;
}

input {
	display: none;
}

label {
	display: flex;
	width: 180px;
	padding: 15px;
	color: #4f5966;
	/*   background: #DEE8F2;  */
	cursor: pointer;
	width: 30%;
}

input:checked + label {
	color: #555;
	background: white;
	color: #ffffff;
	background: #3b3c4e;
	border-radius: 8px;
	padding: 25px;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
	display: flex;
}

.tabs_content {
	animation: scale 0.7s ease-in-out;
}

@keyframes scale {
	0% {
		transform: scale(0.9);
		opacity: 0;
	}

	50% {
		transform: scale(1.005);
		opacity: 0.5;
	}

	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.tabs_info {
	display: flex;
	justify-content: space-between;
}

.tabs_link {
}

.tabs_link span {
	margin-bottom: 8px;
	display: flex;
}

.tabs_link p {
	opacity: 0.6;
}

.tabs_number {
	width: 60px;
	height: 60px;
	border-radius: 100px;
	border: 6px solid #fac704;
	display: flex;
	text-align: center;
	align-content: center;
	align-items: center;
	justify-content: center;
}

#tab1 input:checked + label .account {
	background: url(../img/backgrounds/account.png) left no-repeat;
	background-position: bottom;
}

.what_step {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.step_info {
	background: url(../img/backgrounds/video.png) center no-repeat;
	width: 100%;
	height: 100%;
	transition: 0.6s;
	margin-bottom: 60px;
}
.step_info iframe {
	width: 100%;
	height: 100%;
	min-height: 600px;
	transition: 0.6s;
	cursor: pointer;
	opacity: 0.01;
	box-shadow: 0px 0px 49px 44px #fbcb1a0f;
}

.step_info:hover iframe {
	opacity: 1;
	transition: 0.6s;
}

.step_video {
	width: 67%;
}

.step {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 2vh;
	transition: 0.6s;
}

.step:hover {
	opacity: 0.6;
	transition: 0.6s;
	cursor: pointer;
}

.step span {
	margin-right: 20px;
	background: url(../img/backgrounds/number.png) center no-repeat;
	height: 67px;
	width: 67px;
	background-size: contain;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	font-size: 36px;
	font-weight: 900;
	color: #1f1f24;
	position: relative;
	top: 0px;
}

.step_link {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}

.step_link p {
	color: #959595;
}

.step_link span {
	margin-bottom: 6px;
	font-size: 30px;
	color: #ffffff;
	width: 100%;
	display: flex;
	background: inherit;
	height: auto;
	justify-content: flex-start;
	position: relative;
	top: 0px;
}

.step_content {
	display: flex;
	flex-direction: column;
	position: relative;
	top: -6vh;
}

.step_content img {
	float: left;
	width: 20px;
	height: 20px;
	position: relative;
	left: 20px;
	margin-bottom: 2vh;
}

.section_step h1 {
	font-size: 3.2vw;
	display: flex;
	justify-content: flex-start;
	color: #ffffff;
	padding-top: 0vh;
	margin-bottom: 12vh;
	border-bottom: 1px solid #ffffff25;
	padding-bottom: 6vh;
}

.content {
	margin: 0 auto;
	width: 90%;
}

.footer_section {
	position: relative;
	display: flex;
}

.privacy {
	height: 100%;
}

.privacy h1 {
	font-size: 40px;
	font-weight: 500;
}

.privacy h2 {
	font-size: 30px;
	margin-top: 30px;
	font-weight: 500;
}

.privacy ul {
	padding-left: 25px;
}

.privacy ul li,
.privacy a {
	font-size: 18px;
	margin-top: 15px;
	list-style-type: decimal;
}
@media screen and (max-width: 600px) {
	h1 {
		font-size: 30px !important;
	}
	.neFooterContent h1 {
		max-width: 100%;
	}
	.footerLinkContent {
		flex-wrap: wrap;
		justify-content: center;
	}
	.footerLinkContent div {
		margin: 20px;
	}
	.step_link span,
	span.ps_logo_us {
		font-size: 15px;
	}

	.what_step {
		flex-wrap: wrap;
	}
	.what_step .step_video {
		min-width: 100%;
	}

	.protectedContent {
		flex-wrap: wrap;
	}
	.protectedPlace {
		margin-top: 20px;
		width: 100%;
	}
	.protectedPlace h1 {
		font-size: 20px !important;
	}
	.protectedPlace p {
		font-size: 14px;
	}

	.usConent_Steps {
		flex-wrap: wrap;
	}
	.usConent_Steps .su_step > span {
		font-size: 24px;
	}

	.usConent_Steps .su_step p {
		font-size: 14px;
	}

	.ligues {
		margin-top: 20px;
	}
	.ligues span {
		font-size: 15.5px;
	}
	.su_button {
		padding: 10px 20px;
		max-width: 200px;
	}
	.su_button.green {
		margin-top: 0 !important;
	}
	.su_button a {
		font-size: 17px;
	}
	.ligues img {
		width: 30%;
		height: 15px;
		object-fit: contain;
	}

	.ligues img:nth-child(1) {
		height: 20px;
	}

	.ligues {
		justify-content: space-between;
	}
	.us {
		height: 100%;
	}

	.su_step {
		border: 0px black dashed;
		width: 100%;
		margin-bottom: 40px;
	}

	.su_step .su_button {
		margin-top: 20px;
	}

	.title_news {
		margin-bottom: 20px;
		padding-left: 2.5%;
	}
	.title_news a {
		font-size: 15px;
	}

	.headerMenuContent .navigatoin a {
		font-size: 15px;
		margin: 0;
	}
	.headerMenuContent .navigatoin a:nth-child(2) {
		display: none;
	}
	.headerMenuContent .navigatoin {
		min-width: 0;
	}
	.headerMenuContent .logotype img {
		width: 200px;
	}
	.logotype {
		height: 100%;
	}
	.main__title {
		font-size: 40px !important;
	}
	.main__description {
		font-size: 16px;
	}
	.headerMenuContent {
		width: 100%;
		padding: 0 10px;
	}
	.button_yellow {
		font-size: 15px;
		min-width: 200px;
		padding: 10px;
	}
	.application,
	.statistic {
		margin: 50px 0;
	}
	.container {
		align-items: center;
	}
	.games__card {
		right: 0 !important;
		left: 0 !important;
	}
	.statistic .button_yellow {
		margin-left: 0;
	}

	.title_news {
		margin-bottom: 30px;
	}

	.platform__card {
		margin-right: 0;
	}
	.application__platforms {
		justify-content: space-between;
	}
	.step_info iframe {
		min-height: 300px;
	}
}
.application__buttons.df-aic {
	display: flex;
	align-items: center;
	height: 70px;
}
.application__buttons .button {
	height: 100%;
	margin-left: 20px;
}

.ligues {
}
.contacts{
	width: 100%;
	position: relative;
	top: 100px;
	margin: 0px 0px 200px 0px;
}.contacts h1{
	font-size: 2rem;
	margin: 0px 0px 38px 0px;
}.contacts span{
	font-size: 1.1rem;
	top: 20px;
	margin: 0px 0px 38px 0px;
}.contacts ul{
	font-size: 1.2rem;
	top: 20px;
	margin: 0px 0px 38px 0px;
}.contacts .container{margin: 0 auto 200px;}.contacts span{margin: 0px 0px 38px 0px;}